.deals-items {
  max-width: 660px;
}

.deals-item {
  margin: 2px 2px 10px;
}

.deals-item .ant-descriptions-item {
  padding-bottom: 0 !important;
}

.deals-item .ant-descriptions-item-content {
  justify-content: space-between;
}