.deals-items {
  width: 100%;
}

.deals-item-list {
  max-height: 500px;
  overflow: auto;
}

.deals-item {
  margin: 2px 2px 10px;
}

.deals-item .ant-descriptions-item {
  padding-bottom: 0 !important;
}

.deals-item .ant-descriptions-item-content {
  justify-content: space-between;
}

@media (min-width: 768px) {
  .deals-items {
    padding: 0 15%;
  }
}

@media (min-width: 1280px) {
  .deals-items {
    padding: 0 25%;
  }
}