.stock-items .ant-pagination {
  font-size: 12px;
}

.stock-items .ant-select-selection-item {
  font-size: 12px;
}

.stock-items .ant-spin-container {
  padding-top: 10px;
}

.stock-item .image {
  padding: 1px;
}

.stock-item .ant-card-body {
  padding: 10px;
}

.stock-item .ant-descriptions-header {
  margin-bottom: 0;
}

.stock-item .ant-descriptions-title {
  font-size: 10px;
  white-space: initial;
}

.stock-item .ant-descriptions-item {
  padding-bottom: 0 !important;
}

.stock-item .discount {
  padding-left: 4px;
}